- field_set_tag "Download Komponente" do
  .file_field
    != render :partial => 'comps/form_common', :object => form_file
    != form_file.label :media, 'Datei zum Download (z.B. PDF)'
    != form_file.file_field :media
  .buttons
    != form_file.submit('Save')
