- field_set_tag "Gallerie bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_gallery
  != form_gallery.text_area :content, :label => 'Legende zur Gallerie', :help => 'Kann formatiert werden'
  != form_gallery.submit('Save')
