- field_set_tag "Gallerie bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_gallery
  .textfield
    != form_gallery.label :content, 'Legende zur Gallerie (kann formatiert werden, die Bilder koennen auf der Hauptseite heraufgeladen werden)'
    != form_gallery.text_area :content
  .buttons
    != form_gallery.submit('Save')
