- field_set_tag "HTML Komponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_raw
  != form_raw.text_area :content, :required => true, :label => 'Inhalt', :help => 'Der hier eingegebene HTML Code wird 1:1 auf der Seite ausgegeben. Bitte beachten Sie die max. moegliche Breite des Layouts: Linke Seite 430 Pixel, rechte Seite 230 Pixel'
  != form_raw.submit('Save')
