- field_set_tag "Banner Komponente bearbeiten" do
  (Kein Inhalt, Banner nach Erstellung einzeln heraufladen)
  != render :partial => 'comps/form_common', :object => form_banner
  != render :partial => 'comps/form_buttons', :object => form_banner

