- field_set_tag "HTML Komponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_raw
  != render :partial => 'comps/form_content', :object => form_raw
  != render :partial => 'comps/form_buttons', :object => form_raw
