- field_set_tag "Textkomponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_text
  != render :partial => 'comps/form_content', :object => form_text
  != render :partial => 'comps/form_buttons', :object => form_text
