- field_set_tag "Kalender Eintrag bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_calendar
  != render :partial => 'comps/form_calendar_entry', :object => form_calendar
  != render :partial => 'comps/form_buttons', :object => form_calendar
