- field_set_tag "Platzhalter anlegen" do
  (Kein Inhalt)
  != render :partial => 'comps/form_common', :object => form_placeholder
  != render :partial => 'comps/form_buttons', :object => form_placeholder
