- field_set_tag "Textkomponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_text
  .text_field
    != form_text.label :content, 'Inhalt (kann formatiert werden)'
    != form_text.text_area :content
  .buttons
    != form_text.submit('Save')
