- field_set_tag "Gallerie bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_gallery
  != render :partial => 'comps/form_content', :object => form_gallery
  != render :partial => 'comps/form_buttons', :object => form_gallery
