#header div.nav {
  background: inherit;
  width: 100%;
  overflow: auto; }

.nav div.leaves {
  width: 200px;
  float: left;
  margin-right: 10px; }

.nav ul {
  list-style-type: none;
  padding: 0;
  width: auto;
  overflow: auto; }

.nav li {
  clear: both;
  height: 22px; }

.nav li.active {
  background-color: #09f; }

.nav li.active a {
  border: 0;
  color: white; }

.nav li a:hover {
  border: 0; }

.policon {
  width: 22px;
  height: 22px;
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

.drag {
  background: url(../images/16x16/mail-send-receive.png) center no-repeat; }

.preview {
  background: url(../images/16x16/text-html.png) center no-repeat; }

.edit {
  background: url(../images/16x16/accessories-text-editor.png) center no-repeat; }

.delete {
  background: url(../images/16x16/user-trash.png) center no-repeat; }

.up {
  background: url(../images/16x16/go-up.png) center no-repeat; }

.down {
  background: url(../images/16x16/go-down.png) center no-repeat; }

.video {
  background: url(../images/16x16/applications-multimedia.png) center no-repeat; }

.image {
  background: url(../images/16x16/contact-new.png) center no-repeat; }
  
.texticon {
    background: url(../images/16x16/text-html.png) center no-repeat; }
    
.html {
    background: url(../images/16x16/document-properties.png) center no-repeat; }

#page_control{
  margin-top: 5px;
  height: 22px;
  float: none;
  clear: both;
  border-bottom: 1px solid #a0a0a0;
}
a.control-tab{
  text-decoration: none;
  display: inline-block;
  float:left;
  padding: 1px 3px;
  margin: 3px 2px 0px 5px;
  border: 1px solid #a0a0a0;
  border-bottom-width: 0px;
}

a.control-tab:hover{
  background-color: #f0f0f0;
}

a.control-tab-active{
  text-decoration: none;
  display: inline-block;
  float:left;
  padding: 2px 4px;
  font-weight: bold;
  margin: 1px 2px 0px 5px;
  border: 1px solid #a0a0a0;
  border-bottom-width: 0px;
  background-color: #e0e0e0;
}

#mapinfo span {
  font-size: 0.8em;
  width: 140px;
}

div.subcomps {
  float: none;
  clear: both;
}
  
div.subcomp {
  border: 1px solid #909090;
  float: none;
}
  
