body{
	margin:0;
	color:#000;
	font:14px Helvetica, Arial, sans-serif;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#000;
}
#container{
	width:100%;
	overflow:visible;
}
#container ul{list-style:none;}
.menu-holder ul{display:none;}
#header .main{
	width:100%;
	overflow:visible;
	margin:0;
}
#header .holder ul{display:none;}
#header .holder .breadcrumbs{
	display:block;
	margin:0;
	padding:0;
	font-size:14px;
	line-height:16px;
	width:100%;
	overflow:hidden;
	position:absolute;
	top:105px;
	left:0;
}
#header .holder .breadcrumbs li{
	float:left;
	padding:0 0 0 3px;
}
.menu-holder .banner{
	width:100px;
	padding:0;
	overflow:visible;
	float:right;
}
.menu-holder .banner a{float:right;}
.menu-holder .banner img{display:block;}
/* content */
.content{
	width:100%;
	margin:50px 0 0;
}
.content img{display:block;}
.content h2{
	margin:0;
	font-size:15px;
	line-height:18px;
}
.blue .content h2{color:#09f;}
.red .content h2{color:#e2007a;}
.green .content h2{color:#09d089;}
#header .main{
	width:100%;
	margin:29px 0 0;
	overflow:hidden;
}
.logo{
	width:145px;
	height:55px;
	margin:0;
	overflow:hidden;
	float:left;
}
.logo a{
	display:block;
	width:145px;
	height:55px;
	overflow:hidden;
}
.logo a img{display:block;}
.logo a img.print-logo{display:none;}
* html .logo a img{display:none;}
* html .logo a img.print-logo{display:block;}
/* text */
.text{
	width:100%;
	margin:13px 0 0;
	background:url(../images/bg-text.gif) repeat-y 67% 0;
}
.text:after {
	height:0;
	clear:both;
	content:"";
	display:block;
}
.main-box{
	width:60%;
	float:left;
	margin:-3px 0 0;
}
.text h4{
	margin:0;
	font-size:14px;
	line-height:16px;
}
.main-box p{
	margin:3px 0 0;
	padding:0 0 7px;
	line-height:18px;
}
.main-box img{margin:0 0 15px;}
/* promo-box */
.promo-box{
	width:30%;
	float:right;
}
.promo-box dl{
	margin:10px 0 0;
	font-size:11px;
	line-height:13px;
}
.promo-box dl dt{display:inline;}
.promo-box dl dd{
	display:inline;
	margin:0;
}
.sidebar{display:none;}
.foto-box{
	width:100%;
	overflow:visible;
	margin:6px 0 0;
	padding:0 0 5px;
	background:url(../images/bg-menu.gif) no-repeat;
}
.foto-box:after {
	height:0;
	clear:both;
	content:"";
	display:block;
}
.foto-holder{
	width:100%;
	overflow:visible;
	padding:9px 0 15px;
	background:url(../images/bg-menu.gif) no-repeat 0 100%;
}
.foto-holder:after {
	height:0;
	clear:both;
	content:"";
	display:block;
}
.foto-box p{
	margin:0;
	line-height:18px;
}
.foto-box ul{
	width:100%;
	list-style:none;
	margin:14px 0 0;
	padding:0;
	overflow:hidden;
	font-size:10px;
	line-height:12px;
}
.foto-box ul li{
	width:16%;
	float:left;
}
.foto-box ul img{
	display:block;
	margin:0 0 4px;
}
.foto-box ul li a{float:left;}
.foto-box ul li a em{font-style:normal;}