%title
  = yield :title
!= stylesheet_link_tag(pol_cfg.stylesheets, :cache => true)
!= javascript_include_tag(pol_cfg.javascripts, :cache => true)
!= yield :head
%meta{ :name => 'author', :content => 'http://www.panter.ch' }
%meta{ :name => 'robots', :content => 'noodp' }
%meta{ :name => 'generator', :content => 'Panter POL-CMS' }
%meta{ :'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8' }
